APP_NAME="Onecomm"
APP_PORT="8080"
APP_IP="localhost"

DATABASE_URL=""

JWT_ACCESS_SECRET=""
JWT_ACCESS_EXPIRES_IN="30m"

JWT_REFRESH_EXPIRES_IN_DAYS="30"

SEED_ADMIN_NAME=""
SEED_ADMIN_EMAIL=""
SEED_ADMIN_PASSWORD=""

MEDIA_UPLOAD_ROOT="uploads"
PUBLIC_UPLOAD_PREFIX="/uploads"

MEDIA_MAX_IMAGE_SIZE_BYTES="5242880"
MEDIA_MAX_BULK_IMAGE_FILES="20"
MEDIA_MAX_BULK_DELETE_IMAGES="100"

MAIL_PASS=""
MAIL_HOST=""
MAIL_PORT=""
MAIL_USER=""
MAIL_FROM=""

OTP_SECRET=""
OTP_MAX_ATTEMPT="5"
OTP_EXPIRES_IN_MINS="10"
